<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs')%>  
      
</head>

<body>

     <%- include('../layouts/nav.ejs') %>

     
      <div class="container pt-100">
            <div class="row mt-3">


                     <div class="col-lg-9">
                        <h1 class="text-center">Page not found !</h1>
                  
                    </div>
                        
                  </div>
            </div>
      </div>


      <%- include('../layouts/footer.ejs') %>